$colorDeLetras:white;
$colorDeFondo:black;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(rgb(70, 76, 79), rgb(35, 38, 39));
min-height: 100vh;
main{
    width: 100%;
    padding:40px;
    text-align: center;
    .articles{
        display:flex;
        flex-wrap:wrap;
        width:70%;
        margin: 0 auto;
        color:colorDeLetras;
    .article{
        background-color: colorDeFondo;
        padding: 10px;
        width: 100%;
        text-align: center;
        margin:10px;
        span, h4{
            margin:20px;
            
        }
        img{
            margin:0 auto;
            width: 75%
            }
    }
}
}
}

h1{
    text-align: center;
    color:white;
}

@media screen and (min-width:768px) {
    .article{
        width:45%;
        display:inline-block;
    }
}
@media screen and (min-width:992px) {
    .article{
        width:25%;
        display:inline-block;
    }
    span, h4{
        margin:40px;

    }
}

